.l-header-outer {
	@include ff-background;
	text-align: center;
	
	.site-logo {
		padding: 4em 0 1em;
		display: block;
		
		img {
			max-width: 250px;
		}
	}
}

@include breakpoint($tab, true) {
	.l-header-outer {
		text-align: left;
		border-top: 0 solid $c-main - rgb(32,32,32);
		padding-bottom: 20px;
		@include box-shadow(0 1px 30px rgba($testo-chiaro,0.2));
		//background-image: url(../images/backgrounds/paper.png);
		
		.l-header {
			margin-bottom: 0;
			
			.l-branding {
				
				.site-logo {
					padding: 40px 20px 0 0;
					display: block;
					
					img {
						width: 100%;
						height: auto;
						max-width: 230px;
					}
				}
			}
		}
	}
}
@include breakpoint($desk, true) {
	.l-header-outer {
		
		.l-header {
			
			.l-branding {
				
				.site-logo {
					padding: 30px 0 0 0;
					
					img {
					}
				}
			}
		}
	}
}